:root{
    --main: lightblue;
    --shadow: grey;
    --borders: white;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, serif;
}

#navbar {
    width: 100%;
    height: 80px;
    background-color: var(--main);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: var(--shadow) 0px 5px 5px;
    position:fixed;
}
#links{
    list-style: none;
    display: flex;
}
#links li{
    margin: 0 40px;
}
#name:hover{
    cursor: pointer;
}
#intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#middle{
    align-content: center;
    background: var(--main);
    width: 70%;
    height: 60%;
    border-radius: 30px;
    box-shadow: var(--shadow) 5px 5px 5px;
}
#profilePicture{
    float: left;
    width: 300px;
    margin: 15px;
    border-radius: 50%;
    border: var(--borders) 3px solid;
    box-shadow: var(--shadow) 5px 5px 5px;
}
.button{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    font-size: 25px;
    margin: 30px;
    box-shadow: var(--shadow) 5px 5px 5px;
    border: var(--borders) 3px solid;
    background: var(--main);
}
.button:hover{
    cursor: pointer;
}
.topbtn{
    font-weight: bold;
    font-size: 25px;
    background: var(--main);
    border: none;
}
.topbtn:hover{
    cursor: pointer;
}
#aboutme{
    height: 100vh;
}
#work{
    height: 100vh;
}
#projects{
    height: 100vh;
}